@import "~bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "./base.scss";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


div#root {
    width : 100%;
    height : 100%;
}

.full {
    width: 100%;
    height: 100%;
}

.btn {
    cursor: pointer;

    &.login {
        font-weight: bold;
        font-size: 15px;
        padding: 12px;
        border: 0;
        box-shadow: 1px 1px 5px #666;

        &.google {
            background-color: rgb(223, 75, 51);
            color: #FFFFFF;
            margin-bottom: 10px;
        }

        &.facebook {
            background-color: rgb(89, 117, 177);
            color: #FFFFFF;
            margin-bottom: 10px;
        }

        &.kakao {
            background-color: rgb(252, 235, 1);
            color: rgb(60, 30, 30);
        }
    }


    &.fixed {
        z-index: 999;
        position: fixed;
    }

    &.w-70 {
        width: 70px;
    }

    &.w-65 {
        width: 65px;
    }

    &.b-r-5 {
        bottom: 5px;
        right: 5px;
    }

    &.t-l-5 {
        top: 5px;
        left: 5px;
    }
}

.pop-container {
    width : 90%;
    z-index: 1000;

    &.modal-dialog {
        position: absolute;
        top: 50%;
        left: 47%;
        transform: translate(-50%, -50%) !important;
    }

    & .modal-body {
        padding: 5px;
    }
}

.login-pop-container {
    @extend .pop-container;

    & div {
        z-index: 1000;
    }

    & img.btn {
        width: 100%;
        cursor: pointer;
    }
}

.post-pop-container {
    @extend .pop-container;
}

.view-pop-container {
    @extend .pop-container;
}

.list-pop-container {
    @extend .pop-container;
}

$bg-color-line: rgb(232, 229, 229);
$bg-color-thin: rgba(220, 220, 220, 0.88);
$bg-color-deep: #cecece;
$bg-color: rgba(245, 245, 245, 0.36);

$react-icon-color: #575757;
$react-icon-color-hover: #333333;

.react-icon {
    color: $react-icon-color;
    width: 45px;
    height: 45px;
    cursor: pointer;
    &:hover {
        color: $react-icon-color-hover;
    }

    &.m {
        width: 30px;
        height: 30px;
    }

    &.sm {
        width: 25px;
        height: 25px;
    }
}

.bg-base {
    background-color: $bg-color;
    width: 100%
}

.pop-btn {
    background-color: $bg-color-thin;
    cursor: pointer;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    &:hover {
        background-color: $bg-color-deep;
    }

    &.left {
        border-left: 0;
    }

    &.right {
        border-right: 0;
    }
}

.profile {
    &.img {
        border-radius: 50%;
        max-width: 40px;
        max-height: 40px;
    }

    &.box {
        border: 0 solid $bg-color-line;
        border-bottom-width: 1px;
        padding: 5px 3px 5px 3px;
    }
}

.panel-error-msg  {
    padding: 0;
    margin: 5px;
    text-align: center;
    border: 0;
}

#errorMsg .panel-body {
    padding: 0;
    color: #d14556;
}

.file-input {
    margin-bottom: 0;
}

.b-0 {
    border: 0;
}

