<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:each="header : ${headers}">
    <meta th:attr="name=${header.key}, content=${header.value}"/>
</head>
<body>
<form id="redirectForm" th:attr="action=${callUrl}, target=${target?:'_self'}, method=${method?:'post'}">
    <div th:each="item : ${params}" style="display:none;padding-bottom:10px;">
        <input type="hidden" th:attr="id=${item.key}, name=${item.key}, value=${item.value}"/>
    </div>
</form>
<script type="text/javascript">
    document.getElementById('redirectForm').submit();
</script>
</body>
</html>